{% extends 'base_layout.html' %}

{% block titlecontent %} Login {% endblock %}

{% block style %}
    h1 {
        border-bottom: 1px solid;
    }

    .site-form input {
        display: block;
        margin-bottom: 20px;
    }
    
    .errorlist {
        list-style-type: none;
    }
{% endblock %}

{% block bodycontent %}

    <div class="container-fluid">
        <h1 class="text-center">Log in with your credentials</h1>

        <form class="site-form" action="/accounts/login/" method="post">
            {% csrf_token %}
            {{ form }}

            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}

            &emsp;
            <input type="submit" value="Login" class="btn btn-success">
        </form>
    </div>

    {% block scriptcontent %}
        <script>
            var error = $(".errorlist");
            error.addClass("btn btn-danger btn-block");
        </script>
    {% endblock %}

{% endblock %}