{% extends 'base_layout.html' %}

{% block titlecontent %} Signup {% endblock %}

{% block style %}
    h1 {
        border-bottom: 1px solid;
    }

    .site-form input, .site-form .helptext {
        display: block;
    }

    .site-form label {
        margin-top: 20px;
    }

    .helptext {
        font-family: sans-serif;
        font-style: italic;
    }

    .errorlist {
        list-style-type: none;
    }
{% endblock %}

{% block bodycontent %}

    <div class="container-fluid">
        <h1 class="text-center">Create a New User</h1>

        <form class="site-form" action="/accounts/signup/" method="post">
            {% csrf_token %}
            {{ form }}
            <br>
            <input type="submit" value="Sign Up" class="btn btn-success">
        </form>
    </div>

    {% block scriptcontent %}
        <script>
            var error = $(".errorlist");
            error.addClass("btn btn-danger btn-block");
        </script>
    {% endblock %}

{% endblock %}