{% extends 'base_layout.html' %}

{% block titlecontent %} Create article {% endblock %}

{% block style %}
    h1 {
        border-bottom: 1px solid;
    }
{% endblock %}

{% block bodycontent %}
    <div class="container-fluid">
        <h1 class="text-center">Create an article</h1>

        <form class="" action="{% url 'articles:create' %}" method="post", enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Create" class="btn btn-primary btn-block">
        </form>
    </div>
    
{% endblock %}